<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile Update</title>
    
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <!-- Fontawesome link -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <!-- navbar start -->
    
    <div id="stars"></div>
  <div class="container">
     <div class="container-fluide">
      <nav class="navbar navbar-expand-lg ">
       
        <div class="container-fluid">
          
          <a class="navbar-brand" href="#"><img src="images/logo.png" alt="" id="logoimg"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item  a">
                <a class="nav-link" href="#">Home  | Admin Panel</a>
              </li>
            </ul>
          <div class="social">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-link ">
              <a href="/admin/adminUserList" style="color: black;">View User </i></a>
            </li>
            <li class="nav-link">
            <a href="/admin/orderManagement"  style="color: black;">view Order </a>
            </li>
            <li class="nav-link">
              <a href="/admin/adminLogout"  style="color: black;"> Logout</a>
            </li>
          </ul>
          <!-- <a href="Register.html" class="btn btn-danger  rounded-pill px-3 d-none d-lg-block">New Account +<i class="fa fa-arrow-right ms-3"></i></a> -->
        </div>
          </div>
      </nav> 
     </div>
   <!-- navbar end -->
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-header bg-primary text-white text-center">
            <h3>User Updation Form</h3>
          </div>
          <div class="card-body">
            <form action="/admin/updateUser" method="POST">
              <!-- Name -->
              <div class="mb-3">
                <label for="name" class="form-label">Full Name</label>
                <input type="text" id="name" name="name" class="form-control" value="<%=userObj.name%>" required>
              </div>

              <!-- Email -->
              <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" id="email" name="email" class="form-control" value="<%=userObj.email%>" required>
              </div>

              <!-- Password -->
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" class="form-control" value="<%=userObj.password%>" required>
              </div>

              <!-- Phone Number -->
              <div class="mb-3">
                <label for="contact" class="form-label">Phone Number</label>
                <input type="text" id="contact" name="contact" class="form-control" value="<%=userObj.contact%>" required>
              </div>

              <!-- Vegetarian/Non-Vegetarian -->
              <!-- <div class="mb-3">
                <label class="form-label">Dietary Preference</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" value="" id="vegetarian" name="diet" value="Vegetarian" required>
                  <label class="form-check-label" for="vegetarian">Vegetarian</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="nonVegetarian" name="diet" value="Non-Vegetarian" required>
                  <label class="form-check-label" for="nonVegetarian">Non-Vegetarian</label>
                </div>
              </div> -->

              <!-- categories -->
              <!-- <div class="mb-3">
                <label class="form-label">Some Categories</label>              
                 <div> <input type="checkbox" name="interests" id="sandwich" value="sandwich">
                 <label for="sandwich">Sandwich</label>
                 </div>
                 <div>
                  <input type="checkbox"  name="interests" id="pizza" value="pizza">
                  <label for="pizza">Pizza</label>
                 </div>
                 <div>
                  <input type="checkbox"  name="interests" id="burger" value="burger">
                  <label for="burger">Burger</label>
                 </div>
                 <div>
                  <input type="checkbox"  name="interests" id="juice" value="juice">
                  <label for="juice">Juice</label>
                 </div>
               </div> -->
  
              <!-- Address -->
              <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" id="address" name="address" class="form-control" rows="3" value="<%=userObj.address%>" required></input>
              </div>

              <!-- Submit Button -->
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  

 <!-- footer start -->
 <footer class="footer">
  <div class="footer__bar">
    Copyright © 2024 Web Design Mastery. All rights reserved.
  </div>
</footer>
<!-- footer end -->

   <script src="js/script.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/registration.js"></script>
</body>
</html>